<app-username [username]="'Chris'"> </app-username>
<app-username [username]="'Anna'"> </app-username>


<p [ngClass]="{updated: name !='Shijunn O'}"> <!--if the boolean value after the -->
 {{ name }}
</p>

<p *ngIf="name !='Shijunn O'">Name updated!</p> <!--STARngIf: STARng is used to inform angular.-->

<button (click)="name = 'Anna'">Change Names.</button> <!--parentheses is a syntax in angular. On this line, we execute a inline JS statement.-->
<button (click)="onChangeName()">Change Names.</button> <!--In this line, we call a function.-->
<button (click)="onAddElement()">Add numbers.</button>

<ul>
  <li *ngFor="let el of elements"
      [id]="'element' + el"
      [ngStyle]="{backgroundColor: getColor(el)}">Element {{ el }}</li>
</ul>