<app-username [username]="'Chris'" (userClicked)="onUserWasClicked($event)"> </app-username>
<app-username [username]="'Anna'" (userClicked)="onUserWasClicked($event)"> </app-username>
<!--$event  reserved keyword provided by Angular, which will give you any data the event ships.-->

<p [ngClass]="{updated: name !='Shijunn O'}"> <!--if the boolean value after the -->
 {{ name }}
</p>

<p *ngIf="name !='Shijunn O'">Name updated!</p> <!--STARngIf: STARng is used to inform angular.-->

<button (click)="name = 'Anna'">Change Names.</button> <!--parentheses is a syntax in angular. On this line, we execute a inline JS statement.-->
<button (click)="onChangeName()">Change Names.</button> <!--In this line, we call a function.-->
<button (click)="onAddElement()">Add numbers.</button>

<ul>
  <li *ngFor="let el of elements"
      [id]="'element' + el"
      [ngStyle]="{backgroundColor: getColor(el)}">Element {{ el }}</li>
</ul>
<input type="text" [(ngModel)]="message"> 
<!--ngModel: We react to every keystroke, we react to an event. But at the same time, we updated the value of input with the value user entered.
[(...)] two-way binding
-->
<p>{{ message }}</p>
